<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='https://fonts.googleapis.com/css?family=RobotoDraft' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"><style>
html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft","Roboto",sans-serif;}
.w3-sidenav a {padding:16px;font-weight:bold}
</style>
<body style="background: #E9EAED;">

<nav class="w3-sidenav w3-collapse w3-white w3-animate-left w3-card-2" style="z-index:5;width:250px;">
  <%= link_to image_tag('http://www.clipartlord.com/wp-content/uploads/2015/08/robot48.png', width: '20%'), root_path, class: "w3-border-bottom w3-large"  %>
  <a href="javascript:void(0)" onclick="w3_close()" 
  class="w3-text-teal w3-hide-large w3-closenav w3-large">Close ×</a>
  <a href="#">Home</a>		
  <a href="#">Typography</a>		
  <a href="#">Colors</a>		
  <a href="#">Utilities</a>	
  <a href="#" class="w3-border-bottom">Tables</a>
  <br>
  <% unless skill_signed_in? %>
    <%= link_to "Sign In", new_skill_session_path %>
    <%= link_to "Create Skill", new_skill_registration_path %>
  <% else %>
    <%= link_to "Sign Out", destroy_skill_session_path, method: :delete %>
    <%= link_to "Create Article", new_skill_registration_path%>
    <%= link_to "Account Setting", edit_skill_registration_path%>
    <%= link_to "Skills", new_skill_registration_path%>
    <%= link_to "Article", new_skill_registration_path%>
  <% end %>
</nav>

<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer"></div>

<div class="w3-main" style="margin-left:250px;">

<div id="myTop" class="w3-top w3-container w3-padding-16 w3-theme w3-large">
  <i class="fa fa-bars w3-opennav w3-hide-large w3-xlarge w3-margin-left w3-margin-right" onclick="w3_open()"></i>
  <span id="myIntro" class="w3-hide">W3.CSS: Introduction</span>
</div>

<header class="w3-container w3-theme w3-padding-64 w3-padding-jumbo">
  <h1 class="w3-xxxlarge w3-padding-16">W3.CSS</h1>
</header>
<div class="w3-container w3-padding-jumbo">
<div class="w3-row-padding">
  <!-- edit form -->
  
  <!-- END EDIT FORM -->     
</div><!-- END ROW PADDING -->
</div><!-- END CONTAINER -->
<footer class="w3-container w3-theme w3-padding-jumbo">
  <h5>Footer</h5>
  <p>Footer information goes here</p>
</footer>
     
</div>


     
</body>
</html> 
